body{
    font-family: "Roboto",Helvetica,sans-serif;
    min-width:900px;
}
/*________________________________________________________________________*/
/* Header*/
.footer,
.header{
color: #F9FAF8;
background-color: #1F2937;
font-size:18px;
}
.header{
display:flex;
justify-content: space-between;
padding: 0px 250px;
}
a{
    text-decoration: none;
    color: #F9FAF8;
}
ul{
    margin-bottom: 8px;
    list-style: none;
    padding: 8px;
    display:flex;
    gap: 24px;
}
h1{
    font-size: 48px;
    font-weight: extra-bold;
}
.logo{
    font-size:24px;
}
/*________________________________________________________________________*/
/*Header content*/
.header.content{
display:flex;
justify-content:center;
padding: 50px 250px;
}
.sign.dark{
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 10px 34px;
    border-radius: 8px;
    font-size:18px;
    font-weight: bold;
    }

.placeholder{
    height:250px;
    width:1000px;
    background-color: rgb(125, 131, 150);
    display:flex;
    justify-content: center;
    align-items:center;
    margin: 40px;
}
/*________________________________________________________________________*/
/* "Midsection"*/
.middle{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 80px;
}
.midtitle{
    text-align: center;
}
.items {
    display: flex;
    justify-content: space-around;
    gap: 35px;
    margin-bottom: 80px;
    width: 800px;
    flex: 0;
}
.bluebox{
    border:4px solid;
    border-radius:16px;
    border-color:#3882F6;
    height:150px;
}
/*________________________________________________________________________*/
/*Testimonials*/
.testimonial{
background-color: #E5E7EB;
padding-bottom: 80px;
padding-top: 80px;
}
.testtext{
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    margin-bottom: 0px;
    padding: 0px 350px;
}
.signatory{
    margin-top:0px;
    text-align: right;
    font-weight: bold;
    padding-right: 250px;
}
/*________________________________________________________________________*/
/*SIGNUP*/
.signup{
color: #F9FAF8;
background-color: #3882F6;
margin:80px 250px;
padding: 60px 80px;
border-radius: 8px;
display: flex;
justify-content: space-between;
align-items: center;

}
.signup.text{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: flex-start;
}
.signup.text h3,
.signup.text p{
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-align: left;
}
.signup.text h3{
    font-size: 24px;
}
.sign.light{
color: #F9FAF8;
background-color: #3882F6;
padding: 8px 30px;
border-radius: 8px;
border:3px solid;
font-size:18px;
font-weight: bold;
max-height: 45px;
white-space: nowrap;
}

/*________________________________________________________________________*/
/*FOOT*/
.footer {
text-align: center;
padding:16px;
}